@model IEnumerable<BE.Medicine>

@{
    ViewBag.Title = "Catalog";
    Layout = "~/Views/LayoutPage.cshtml";
}

<h2>Medicines Catalog</h2>

<script>
    function addImage(add_button) {

        document.getElementById("id").value = add_button.getAttribute("Medicine-id");

    }
</script>
<table class="table">
    <tr>
        <td height="100"></td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommercialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenericName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveIngredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoseCharacteristic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommercialName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenericName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveIngredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoseCharacteristic)
            </td>
            <td>
                @Html.DisplayImage(@item.ImageUrl, 200)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                <a onclick="addImage(this)" Medicine-id="@item.Id" data-toggle="modal" data-target="#popup1" @*style="color:#C7187D; font-family:'Segoe UI';right:1000px"*@>add image</a>


                @using (Html.BeginForm("AddImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal fade" id="popup1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form dir="rtl" style="font-family:'Segoe UI';" name="example" action="~/Home/AddImage" method="post">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-align:left">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div>
                                        @*<label for="name" style="text-align:center"> Please select an image</label>*@
                                        <input name="file" type="file" @*class="form-control"*@ id="file" required>
                                        <label for="name" style=" color:red ">@ViewBag.message </label>
                                    </div>
                                    <div class="modal-footer" style="text-align:left">
                                        @*<input type="hidden" id="id" name="id" value="@item.Id" />*@
                                        <input id="id" name="id" type="hidden" required />
                                        @*<button class="btn btn-outline-secondary" data-dismiss="modal">Exit</button>*@
                                        <input type="submit" class="btn btn-primary py-3 px-5" value="Add Image">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                }
            </td>
        </tr>
    }

</table>
<label for="message1" style=" color:red ">@ViewBag.message1 </label>
<div>
    @Html.ActionLink("Add Medicine", "Create")
</div>
